.App {
  text-align: center;
}

.App-header {
  background-color: #1e2019;
  padding: 0.7em;
  color: white;
  margin-bottom: 1em;
  animation: colorChange infinite 7s;
  animation-fill-mode: forwards;
  border-bottom: 5px solid #393e41;
}

@keyframes colorChange {
  0% {
    color: rgba(226, 192, 68, 1);
    text-shadow: 0 0 10px rgba(211, 208, 203, 1);
  }
  50% {
    color: rgba(88, 123, 127, 1);
    text-shadow: 0 0 10px rgba(226, 192, 68, 1);
  }
  100% {
    color: rgba(226, 192, 68, 1);
    text-shadow: 0 0 10px rgba(211, 208, 203, 1);
  }
}

.App-title {
  font-size: 7vw;
}

body {
  background-color: aqua;
  animation: fadeBackground infinite 7s;
  animation-fill-mode: forwards;
  min-width: 240px;
}

@keyframes fadeBackground {
  0% {
    background-color: rgba(211, 208, 203, 1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), 
    -5px -5px 10px rgba(211, 208, 203, 0.8);
    color: black;
  }
  50% {
    background-color: rgba(226, 192, 68, 1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), 
    -5px -5px 10px rgba(226, 192, 68, 0.8);
    color: black;
  }
  100% {
    background-color: rgba(211, 208, 203, 1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), 
    -5px -5px 10px rgba(211, 208, 203, 0.8);
    color: black;
  }
}

.bodyDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.addFormDiv {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
  flex: 1 1 0;
}

.addFormBtnDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

input {
  border-radius: 7px;
  margin: 5px 0;
  padding: 0.5em;
}

.addFormBtn {
  flex: 1 1 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(226, 192, 68, 0.8);
  font-size: 1.2vw;
  animation: fadeBackground infinite 7s;
  animation-fill-mode: forwards;
}

.mainDiv {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  flex: 5 1 0;
}

.imgTile {
  padding: 1%;
  border-radius: 4px;
  
}

.descriptionDiv {
  width: 20vw;
  height: auto;
  margin: 10px auto;
  border: 4px solid black;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), 
    -1px -1px 5px rgba(226, 192, 68, 0.8);
    animation: pulse infinite 15s;
    animation-direction: alternate;
}

.descriptionDiv:hover {
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.25), 
    -1px -1px 5px rgba(226, 192, 68, 0.8),
    inset 2px 2px 4px rgba(226, 192, 68, 0.8),
    inset -2px -2px 5px rgba(0, 0, 0, 0.5)
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  word-break: keep-all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(226, 192, 68, 0.8);
  font-size: 1.2vw;
  animation: fadeBackground infinite 7s;
  animation-fill-mode: forwards;
}

.addBtn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), 
    -1px -1px 5px rgba(226, 192, 68, 0.8), 
    inset 2px 2px 4px rgba(0, 0, 0, 0.25), 
    inset -2px -2px 5px rgba(226, 192, 68, 0.8);
  color: whitesmoke;
  border: 5px solid green;
}

.submitBtn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), 
    -1px -1px 5px rgba(226, 192, 68, 0.8), 
    inset 2px 2px 4px rgba(0, 0, 0, 0.25), 
    inset -2px -2px 5px rgba(226, 192, 68, 0.8);
  color: green;
  border: 5px solid green;
}

.cancelBtn {
  margin-left: 3px;
}

.cancelBtn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), 
    -1px -1px 5px rgba(226, 192, 68, 0.8), 
    inset 2px 2px 4px rgba(0, 0, 0, 0.25), 
    inset -2px -2px 5px rgba(226, 192, 68, 0.8);
  color: red;
  border: 5px solid red;
}

.likeDeleteBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), 
    -5px -5px 10px rgba(226, 192, 68, 0.8);
  padding: 5px 15px;
  border-radius: 9999px;
  animation: fadeBackground infinite 7s;
  animation-fill-mode: forwards;
}

.likeDeleteBtn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), 
    -1px -1px 5px rgba(226, 192, 68, 0.8), 
    inset 2px 2px 4px rgba(0, 0, 0, 0.25), 
    inset -2px -2px 5px rgba(226, 192, 68, 0.8);
  border-radius: 9999px;
  padding: 5px 15px;
}

button {
  border-radius: 9999px;
  padding: 5px 15px;
  background-color: inherit;
  border: none;
}

button:hover {
  box-shadow: -5px -5px 10px rgba(226, 192, 68, 0.8),
  5px, 5px, 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#heartBtn {
  color: palevioletred;
}

#heartBtn:hover {
  border: 5px solid palevioletred;
}

#trashBtn {
  color: red;
}

#trashBtn:hover {
  border: 5px solid red;
}

img {
  width: 25vw;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), 
    -5px -5px 10px rgba(226, 192, 68, 0.8);
  border: 3px outset rgba(0, 0, 0, 0.5);
  animation: fadeBackground infinite 7s;
  animation-fill-mode: forwards;
  animation: pulse infinite 20s;
  animation-direction: alternate;
}

@keyframes pulse {
  from { 
    transform: scale(1); 
  }
  to {
    transform: scale(0.75);
  }
}

img:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), 
    -1px -1px 5px rgba(226, 192, 68, 0.8), 
    inset 2px 2px 4px rgba(0, 0, 0, 0.25), 
    inset -2px -2px 5px rgba(226, 192, 68, 0.8);
  cursor: pointer;
}

.footDiv {
  height: 15vh;
}

@media only screen and (max-width: 960px) {
  .bodyDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .mainDiv {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    font-size: 4vw;
  }

  .App-title {
    font-size: 18vw;
  }

  .imgTile {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  img {
    width: 100vw;
  }

  .likeDeleteBtn {
    width: 10vw;
    height: 3vh;
    padding: 5px;
  }

  .addBtn {
    padding: 10px 15px;
    width: 20vw;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .addFormBtn {
    font-size: 3vw;
    margin-bottom: 5px;
  }

  .descriptionDiv {
    width: 75vw;
  }

}

@media only screen and (max-width: 500px) {
  .addBtn {
    width: 35vw;
    font-size: 4vw;
  }
}

@media only screen and (max-width: 330px) {
  img {
    width: 100vw;
  }

  .descriptionDiv {
    width: 95vw;
    margin: 0 auto;
  }

  .addFormBtn {
    font-size: 6vw;
    margin-bottom: 5px;
    width: 20vw;
  }

  .addBtn {
    font-size: 5vw;
    width: 40vw;
    font-weight: 300;
    padding: 8px 10px;
    margin-bottom: 10px;
  }

  .imgDiv {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 7vw;
  }

  .likeDeleteBtn {
    width: 20vw;
    height: 4vh;
    padding: 5px;
  }
}