.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.mainDiv {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.descriptionDiv {
  width: 20vw;
  height: auto;
  margin: 10px auto;
  border: 2px solid black;
}

img {
  width: 20vw;
}